.row.top-bar
  %h3.page-title Learn More
%br/
%section#features_3
  .container
    #features_3_intro.row.text-center
      .col-sm-0.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1

        %p You might want to reconsider if you enjoy waiting on hold or rather deal with low-tier support.  CallRed helps you get your questions answered or connects you with an expert who is happy to help you.
        %br/
        %p To do this, we have created a vast database of companies' executive contact information.  We get you in touch with the people that will make sure your issue is addressed - and quickly.  We've formed relationships with many of these companies, and are always trying to add more to our list, so if you want to see a company on here that isn't already, make sure you let us know!
    %br/
    %br/
    .row
      #features_3_content_left.col-sm-4.col-md-4.ol-lg-4
        .feature
          %h4 Don't waste time contacting a business
          %p
            Quickly send a message and stop looking for their phone, email address, or Twitter account.
        .feature
          %h4 Get to an expert right away
          %p
            We help you bypass low-tier support and talk directly with an expert who can solve your issue.
      #features_3_content_center.col-sm-4.col-md-4.ol-lg-4
        %img#features3_image.img-responsive{alt: "img", src: "assets/iphone-about.png"}/
        %br/
        %br/
      #features_3_content_right.col-sm-4.col-md-4.ol-lg-4
        .feature
          %h4 Share via Facebook and Twitter
          %p
            Easily share highlights of your message via social media including Facebook, Twitter and more!
        .feature
          %h4 Compare a business to their competitors
          %p
            See how a business stands up to its competitors on a number of social networks and review websites.
%br/
.row
  .col-sm-4.text-center
    %img{:alt => "Andrew Kelley", :src => "assets/team/andrew.png"}/
    .h4 Andrew Kelley
    .h6 Founder & CEO
    .team-links
      %a.team-social{:href => "http://linkedin.com/in/andrewcpkelley", target: '_blank'}
        %i.fa.fa-linkedin-square
      %a.team-social{:href => "http://twitter.com/andrewcpkelley", target: '_blank'}
        %i.fa.fa-twitter-square
  .col-sm-4.text-center
    %img{:alt => "Dan Reilly", :src => "assets/team/dan.png"}/
    .h4 Dan Reilly
    .h6 Business Development
    .team-links
      %a.team-social{:href => "https://www.linkedin.com/pub/daniel-reilly/27/2b/300", target: '_blank'}
        %i.fa.fa-linkedin-square
  .col-sm-4.text-center
    %img{:alt => "Dan Reilly", :src => "assets/team/hiring.png"}/
    .h4 We're Hiring Engineers
    %a.team-social{:href => "/#/hiring"}
      %h6 View Opening
