.row.top-bar
  %h3.page-title Businesses
%br/
%h2.page-title Verify your business for free on CallRed today
%h4.page-title Drive business growth and customer satisfaction
%br/
.text-center
  %img.text-center{alt: "Verify Business", src: "assets/verify.png"}
  %br/
  %br/
  %p
    %a{:href => "mailto:team@callred.com", :class => "btn add-business", :target => "_top"}
      %i.fa.fa-briefcase
      Add Your Business
%br/
%br/