.row.top-bar
	%h3.page-title Hiring
%br/
.row
	.col-md-10.col-md-offset-1.text-justify
		If you’ve ever watched “The Social Network” and thought to yourself “man, I wish I could join a startup before it goes big”, we want your resume. CallRed is a disruptive high-growth tech startup in the customer service industry. With millions of consumers contacting businesses every day, we love helping our loyal users get superior customer support everyday!
		.jobs
			%h3 Mobile Engineers
			%p.box-space
				We're looking for leading mobile engineers who are interested in messaging apps and customer service. If you're a team player and enjoy the challenge of a creating the next big idea, CallRed is hiring both Android and iOS developers.
			.apply-box
				%a.send{:href => "mailto:jobs@callred.com", :class => "btn add-business", :target => "_top"}
					Apply Now
			%h3 Sales & Marketing Interns
			%p.box-space
				Your role will be crucial to CallRed's vision and strategy.  Our interns will assist in building relations with C-level execs. If you are a creative person, we'd also task you to assist our business development team in developing new innovative features.
			.apply-box
				%a.send{:href => "mailto:jobs@callred.com", :class => "btn add-business", :target => "_top"}
					Apply Now
			
