.row.top-bar
  %h3.page-title Reset Password
%br/
#login_content.container
  .row
    .col-md-6.col-md-offset-3
      %form{"ng-init" => "passwordResetForm = {}", "ng-submit" => "requestPasswordReset(passwordResetForm)", :role => "form"}
        .form-group
          .input-group.input-group-lg
            %span.input-group-addon
              %i.fa.fa-envelope
            %input.form-control{:name => "email", "ng-model" => "passwordResetForm.email", :required => "required", :type => "email", :placeholder => "Email"}/
        .form-group
          %button.btn.btn-danger.btn-lg.btn-block{:type => "submit"} Submit