.row.top-bar
	%h3.page-title Press
%br/
%h4.page-title CallRed’s database of top-tier support contacts helps frustrated customers quickly resolve their problems.
%br/
.text-center
	%a{ :href => 'http://www.crunchbase.com/organization/callred', :class => "btn add-business", target: '_blank' }
		CrunchBase
	%a{ :href => 'https://angel.co/callred', :class => "btn add-business", target: '_blank' }
		AngelList
	%a{:href => "mailto:presscallred.com", :class => "btn add-business", :target => "_top"}
		%i.fa.fa-briefcase
		Contact Us