.list-group-item.media.events{"ng-repeat" => "resource in resources"}
  %a{:href => "{{resource.url}}"}
    .media-body
      %h3.media-heading
        {{resource.name}}
        %br/
        %small {{resource.description}}