.row.top-bar
  %h3.page-title Sign Up
%br/
#login_content.container
  .row
    .col-md-6.col-md-offset-3
      %form{"ng-init" => "registrationForm = {}", "ng-submit" => "submitRegistration(registrationForm)", :role => "form"}
        .form-group
          .input-group.input-group-lg
            %span.input-group-addon
              %i.fa.fa-envelope
            %input.form-control{:name => "email", "ng-model" => "registrationForm.email", :required => "required", :type => "email" }/
        .form-group
          .input-group.input-group-lg
            %span.input-group-addon
              %i.fa.fa-lock
            %input.form-control{:name => "password", "ng-model" => "registrationForm.password", :required => "required", :type => "password"}/
        .form-group
          %button.btn.btn-danger.btn-lg.btn-block{:type => "submit"} Register
        %section
          %p.text-center.text-muted
            Already have an account?
            %a{"ng-href" => "/#/signin"} Sign In