.row.top-bar
	%h3.page-title Sign In
%br/
#login_content.container
	.row
		.col-md-6.col-md-offset-3
			%form{"ng-init" => "loginForm = {}", "ng-submit" => "submitLogin(loginForm)", :role => "form"}
				.form-group
					.input-group.input-group-lg
						%span.input-group-addon
							%i.fa.fa-envelope
						%input.form-control{:name => "email", "ng-model" => "loginForm.email", :required => "required", :type => "email"}/
				.form-group
					.input-group.input-group-lg
						%span.input-group-addon
							%i.fa.fa-lock
						%input.form-control{:name => "password", "ng-model" => "loginForm.password", :required => "required", :type => "password"}/
				.form-group
					%button.btn.btn-danger.btn-lg.btn-block{:type => "submit"} Sign in
				%section
					%p.text-center.text-muted
						%a{"ng-href" => "/#/reset-password"} Reset Password