.list-group-item.media.events{"ng-repeat" => "startup in startups"}
  %a{:href => "{{startup.url}}"}
    .media-body
      %h3.media-heading
        {{startup.name}}
        %br/
        %small {{startup.description}}